
@import "bootstrap-sprockets"
@import "bootstrap"

$screen-stretch: 99.5%
$blue: '#2c97de'
$orange: '#e76d3b'
$red: '#cc3e4a'
$green: '#84b547'

// General

body
  font-family: "Roboto Mono"
  font-size: 13px

html, body, .container
  margin: 0px
  padding: 0px
  background-color: #000
  color: #EFEFEF
  width: $screen-stretch
  height: $screen-stretch

// Side Menu
#sidebar
  background-color: #111
  li
    padding: 14px 0px 14px 0px
    a
      font-weight: 700
      font-size: 16px
      text-tranform: uppercase
      color: #fff
    &.active > a
      background-color: #000

// Chart

#chart
  canvas

// Header

#header
  td
    padding: 30px 0

#footer

