ruby:
  sim = Simulator.new filename: 'historic', btc: 0.2
  sim.apply StochRsi.new
  sim.perform

script type="text/javascript"
  == sim.js_dump

.row#header
  table.table
    tr
      td
        span Total Profit:
        = sim.profit
      td
        span 24hr Profit:
      td 
        span Start: 
        = sim.btc
      td 
        span End:
        = sim.currency_btc
      td 
        span Fees:
        = sim.fees

.row
  div id="chart1" style="height: 260px; width: 100%;"
  div id="chart2" style="height: 260px; width: 100%;"

coffee:
  window.onload = ->
    chart = new (CanvasJS.Chart)('chart1',
      zoomEnabled: false
      exportEnabled: false
      backgroundColor: '#000'
      axisY:
        includeZero: false
        lineThickness: 0
        gridThickness: 0.5
        gridDashType: 'dash'
        labelFontSize: 12
        labelFontFamily: 'Roboto Mono'
        labelFontColor: '#fff'
        margin: 0
        tickLength: 0
      axisX:
        interval: 1
        intervalType: 'day'
        valueFormatString: 'DDD hh:mmtt'
        lineThickness: 0
        gridThickness: 0.5
        gridDashType: 'dash'
        labelFontSize: 12
        labelFontFamily: 'Roboto Mono'
        labelFontColor: '#fff'
        margin: 0
        tickLength: 0
      toolTip:
        shared: true
      data: [{
          name: 'ohlc'
          type: 'candlestick'
          color: '#2c97de'
          risingColor: '#425B24'
          fallingColor: '#661F25'
          dataPoints: @ohlc_data
        },        
        {
          name: 'Price'
          type: 'line'
          color: '#666'
          markerType: 'none'
          dataPoints: @average_data
        },
        {
          name: 'Line1'
          type: 'spline'
          color: '#2c97de'
          markerType: 'none'
          dataPoints: @line1_data
        },
        {
          name: 'Line2'
          type: 'spline'
          color: '#60BD68'
          markerType: 'none'
          dataPoints: @line2_data
        },
        {
          name: 'Line3'
          type: 'spline'
          color: '#FAA43A'
          markerType: 'none'
          dataPoints: @line3_data
        },
        {
          name: 'BuySell'
          type: 'scatter'
          color: '#FFF'
          dataPoints: @scatter_data
        }
      ]
    )
    chart.render()

    chart2 = new (CanvasJS.Chart)('chart2',
      zoomEnabled: false
      exportEnabled: false
      backgroundColor: '#000'
      axisY:
        includeZero: false
        lineThickness: 0
        gridThickness: 0.5
        gridDashType: 'dash'
        labelFontSize: 12
        labelFontFamily: 'Roboto Mono'
        labelFontColor: '#fff'
        margin: 0
        tickLength: 0
      axisX:
        interval: 1
        intervalType: 'day'
        valueFormatString: 'DDD hh:mmtt'
        lineThickness: 0
        gridThickness: 0.5
        gridDashType: 'dash'
        labelFontSize: 12
        labelFontFamily: 'Roboto Mono'
        labelFontColor: '#fff'
        margin: 0
        tickLength: 0
      toolTip:
        shared: true
      data: [
        {
          name: 'Stoch RSI'
          type: 'spline'
          color: '#FAA43A'
          markerType: 'none'
          dataPoints: @rsi_data
        },
        {
          name: 'BuySell'
          type: 'scatter'
          color: '#FFF'
          dataPoints: @scatter_data
        }
      ]
    )
    chart2.render()
