ruby:
  sim = Simulator.new filename: 'BTC_XMR-1000hrs-15mins', btc: 0.2
  sim.apply RsiMeanReversion.new
  sim.perform

script type="text/javascript"
  == sim.js_dump

.row#header
  table.table
    tr
      td
        span Total Profit:
        = sim.profit.round(5)
      td
        span Lazy Profit:
        = sim.lazy_profit.round(5)
      td 
        span Start: 
        = sim.btc.round(5)
      td 
        span End:
        = sim.currency_btc.round(5)
      td 
        span Fees:
        = sim.fees.round(5)
      td 
        span Gain:
        = sim.gain.round(5)

.row
  div id="moving-average" style="height: 260px; width: 100%;"
  div id="rsi" style="height: 260px; width: 100%;"
  div id="pressure" style="height: 260px; width: 100%;"
  div id="volume_ratio" style="height: 260px; width: 100%;"

coffee:
  create_chart = (name, data) ->
    new (CanvasJS.Chart)(name,
      zoomEnabled: false
      exportEnabled: false
      backgroundColor: '#000'
      axisY:
        includeZero: false
        lineThickness: 0
        gridThickness: 0.5
        gridDashType: 'dash'
        labelFontSize: 12
        labelFontFamily: 'Roboto Mono'
        labelFontColor: '#fff'
        margin: 0
        tickLength: 0
      axisX:
        interval: 1
        intervalType: 'day'
        valueFormatString: 'DDD hh:mmtt'
        lineThickness: 0
        gridThickness: 0.5
        gridDashType: 'dash'
        labelFontSize: 12
        labelFontFamily: 'Roboto Mono'
        labelFontColor: '#fff'
        margin: 0
        tickLength: 0
      toolTip:
        shared: true
      data: data
    )

  window.onload = ->
    moving_average = create_chart('moving-average',
      [
        {
          name: 'ohlc'
          type: 'candlestick'
          color: '#2c97de'
          risingColor: '#425B24'
          fallingColor: '#661F25'
          dataPoints: @ohlc_data
        },        
        {
          name: 'Price'
          type: 'line'
          color: '#666'
          markerType: 'none'
          dataPoints: @average_data
        },
        {
          name: 'Moving Average'
          type: 'spline'
          color: '#2c97de'
          markerType: 'none'
          dataPoints: @moving_average_data
        },
        {
          name: 'Long'
          type: 'spline'
          color: '#60BD68'
          markerType: 'none'
          dataPoints: @long_data
        },
        {
          name: 'Short'
          type: 'spline'
          color: '#FAA43A'
          markerType: 'none'
          dataPoints: @short_data
        },
        {
          name: 'Buy'
          type: 'scatter'
          markerColor: 'green'
          dataPoints: @buy_data
        },
        {
          name: 'Sell'
          type: 'scatter'
          markerColor: 'red'
          dataPoints: @sell_data
        }
      ]
    )
    moving_average.render()

    pressure = create_chart('pressure', 
      [
        {
          name: 'Pressure'
          type: 'spline'
          color: '#FAA43A'
          markerType: 'none'
          dataPoints: @pressure_data
        },
        {
          name: 'Buy'
          type: 'scatter'
          markerColor: 'green'
          dataPoints: @buy_data
        },
        {
          name: 'Sell'
          type: 'scatter'
          markerColor: 'red'
          dataPoints: @sell_data
        }
      ]
    )
    pressure.render()

    volume_ratio = create_chart('volume_ratio', 
      [
        {
          name: 'Volume Ratio'
          type: 'spline'
          color: '#FAA43A'
          markerType: 'none'
          dataPoints: @volume_ratio_data
        },
        {
          name: 'Buy'
          type: 'scatter'
          markerColor: 'green'
          dataPoints: @buy_data
        },
        {
          name: 'Sell'
          type: 'scatter'
          markerColor: 'red'
          dataPoints: @sell_data
        }
      ]
    )
    volume_ratio.render()

    rsi = create_chart('rsi', 
      [
        {
          name: 'RSI'
          type: 'spline'
          color: '#FAA43A'
          markerType: 'none'
          dataPoints: @rsi_data
        },
        {
          name: 'Buy'
          type: 'scatter'
          markerColor: 'green'
          dataPoints: @buy_data
        },
        {
          name: 'Sell'
          type: 'scatter'
          markerColor: 'red'
          dataPoints: @sell_data
        }
      ]
    )
    rsi.render()
